/* CSS RESET */
/* DEFAULT STYLES */

/* MEDIA QUERIES */
@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Khula&family=Raleway&display=swap");

/* Mobile first, we start from the smallest viewport width */

.container-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Cormorant", serif;
  font-size: 14px;
  color: #2e282a;
  text-decoration: none;
}

ul a {
  text-decoration: none;
  color: #2e282a;
  margin: 5px;
}

p a {
  text-decoration: none;
  color: #2e282a;
  margin: 5px;
}

p a:hover{
  color: #2e282a;
  text-decoration: none;
}

#logo {
  max-width: 70%;
  height: auto;
  align-self: left;
}

#header-section {
  background: url(./../images/plants_homepage_teaser.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  overflow: hidden;
  opacity: 0.9;

}

#header-section p {
  color: white;
  text-align: center;
  margin-top: 20px;
}

#header-section h1 {
  margin-top: 60px;
  color: white;
  text-align: center;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  color: #2e282a;
  text-align: center;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #2e282a;
  text-align: center;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #2e282a;
}

h4 {
  text-align: center; 
}

p {
  font-family: "Khula", sans-serif;
  font-size: 14px;
  color: #2e282a;
}

.nav-link {
  font-family: "Cormorant", serif;
  font-size: 16px;
  color: #2e282a;
  text-decoration: none;
}

::placeholder {
  font-family: "Khula", sans-serif;
  font-size: 14px;
  color: grey;
  text-align: center;
}

input[type="text"] {
  border: 1px solid #2a9d8f;
  border-radius: 3px;
  width: 80%;
  margin: 5px;
  text-decoration: none;
  text-shadow: none;
  font-family: "Khula", sans-serif;
  font-size: 14px;
  text-align: center;
}

input[type="password"] {
  border: 1px solid #2a9d8f;
  border-radius: 3px;
  width: 80%;
  margin: 5px;
  text-decoration: none;
  text-shadow: none;
  font-family: "Khula", sans-serif;
  font-size: 14px;
  text-align: center;

}

input:focus {
  background-color: white;
  outline: none;
  caret-color: teal;
}

input[type="submit"] {
  border: 1px outset #2a9d8f;
  color: #2e282a;
  background-color: #2a9d8f;
  width: 50%;
  margin: 5px;
  border-radius: 3px;
  font-family: "Cormorant", serif;
}

footer {
  background-color: #dad6ff;
  padding-top: 20px;
}

.container-footer-links {
  text-decoration: none;
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  font-family: "Cormorant", serif;
  font-size: 14px;
  border-bottom: 40px;
  padding-top: 25px;
}

footer p {
  font-family: "Cormorant", serif;
  text-align: center;
}

.tags-not-clicked {
  font-family: "Khula", sans-serif;
  font-size: 12px;
  border: 1px solid #2a9d8f;
  background-color: #2a9d8f;
  padding: 5px;
  margin: 2px;
}

.tags-clicked {
  font-family: "Khula", sans-serif;
  font-size: 12px;
  border: 1px solid #EAE8FF;
  background-color: #EAE8FF;
  padding: 5px;
  margin: 2px;
}

.tags-clicked:hover{
  border: 1px solid #dad6ff;
  background-color: #dad6ff;
}


#planttags {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.images-slider {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .slider {
    display: none;

  }
  #hidden {
    display: none;
  
  }
}

input[type="search"] {
  border: 1px solid #2a9d8f;
  border-radius: 3px;
  width: 80%;
  margin: 5px;
  text-decoration: none;
  text-shadow: none;
  font-family: "Khula", sans-serif;
  font-size: 14px;
  text-align: center;
}

.btn {
  background-color: #EAE8FF;
  color: #2e282a;
  border: 1px solid #EAE8FF;
  font-family: "Cormorant", serif;
  font-size: 18px;
  padding: 8px 40px 8px 40px;
  align-content: center;
}

.btn:hover{
  background-color: #dad6ff;
  border: 1px solid #dad6ff;
}

#log-in-button {
  background-color: #6ED8CC;
  border: 1px solid #6ED8CC;
  font-family: "Cormorant", serif;
  font-size: 16px;
  padding: 4px 20px 4px 20px;
  margin: 8px
}

#log-in-button:hover {
  background-color: #2A9D8F;
  border: 1px solid #2A9D8F;
}

.button-signup {
  background-color: #6ED8CC;
  border: 1px solid #6ED8CC;
  font-family: "Cormorant", serif;
  font-size: 16px;
  padding: 4px 20px 4px 20px;
  margin: 20px;
}

.button-signup:hover{
  background-color: #2A9D8F;
  border: 1px solid #2A9D8F;

}

.image {
  width: 100%;
}

.plants-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.plants-list img {
  height: 200px;
}

#faq-header {
  animation: bounceInRight;
  animation-duration: 2s;
  background-color: #2a9d8f;
  color: white;
}

.newsletter {
  background-color: #dad6ff;
  padding-top: 20px ;

}

#searchResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#searchBarPlants {
  display: flex;
  justify-content: center;
}

.form-control {
  border: 1px outset #2a9d8f;
  color: #2e282a;
  background-color: white;
  width: 50%;
  margin: 5px;
  border-radius: 3px;
  font-family: "Cormorant", serif;
}

.answer {
  display: flex; 
  justify-content: space-around;

}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

.sign-up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: #985F6F; 
}

.sign-up-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media (min-width: 768px) {

  h1 {
    font-family: "Raleway", sans-serif;
    font-size: 48px !important;
  }

  .slider {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  input[type="search"] {
    border: 1px solid #2a9d8f;
    border-radius: 3px;
    width: 50%;
    margin: 5px;
    text-decoration: none;
    text-shadow: none;
    font-family: "Khula", sans-serif;
    font-size: 14px;
    text-align: center;
  }

  input[type="text"] {
    border: 1px solid #2a9d8f;
    border-radius: 3px;
    width: 30%;
    margin: 5px;
    text-decoration: none;
    text-shadow: none;
    font-family: "Khula", sans-serif;
    font-size: 14px;
    text-align: center;
  }

  input[type="password"] {
    border: 1px solid #2a9d8f;
    border-radius: 3px;
    width: 30%;
    margin: 5px;
    text-decoration: none;
    text-shadow: none;
    font-family: "Khula", sans-serif;
    font-size: 14px;
    text-align: center;
  }
  
}




/* From 1024px and up */
@media (min-width: 1024px) {
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 56px !important;
}

}